<h1>Create New Comment</h1>

<%= form_with model: comment, url: user_post_comments_path(author, post), method: :post, local: true, scope: :comment, html: { class: 'comment-form-new' } do |form| %>
  <%= form.text_area :text, placeholder: 'Enter comment...' %>
  <%= form.submit "Add Comment" %>
<% end %>

<%= link_to "Go back", :back %>