<h1>Users Index</h1>

<ul class='users-list'>
  <% for a in 1..5 do %>
    <li>
      <div class='user row'>
        <div class='avatar'>Avatar</div>
        <div class='user-card'>
          <h2>User name</h2>
          <p>Number of posts: x </p>
        </div>
      </div>
    </li>
  <% end %>
</ul>