/* users#index */

body {
  padding-bottom: 5%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.users-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 0 5vw;
}

.user-row {
  display: flex;
  padding: 1rem;
  border-bottom: solid gray 0.2px;
}

.avatar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.avatar {
  border: solid black 0.1rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.user-row a {
  flex: 3;
  text-decoration: none;
  color: black;
}

.user-card {
  height: 100%;
  border: solid black 0.1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-card > * {
  flex: 1;
  padding: 0 5%;
}

.user-card p {
  align-self: flex-end;
}

/* users#show */

.bio-container {
  border: solid black 0.1rem;
  padding: 15px;
  margin: 2rem 0;
}

.recent-posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recent-posts a {
  text-decoration: none;
  color: black;
}

.post-card {
  display: flex;
  flex-direction: column;
  border: solid black 0.1rem;
  padding: 15px;
}

.post-card > *,
.post-card .counter {
  margin: 5px 0;
}

.counter-container {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.social-interactions-container {
  display: flex;
  gap: 10px;
}

.button {
  font-size: 14px;
  text-decoration: none;
  background-color: #eee;
  color: #333;
  padding: 3px 6px;
  border: solid 0.7px gray;
  border-radius: 5px;
}

/* posts#index */

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}

.posts-list a {
  text-decoration: none;
  color: black;
}

.post-summary-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comments-container {
  display: flex;
  flex-direction: column;
  border: solid black 0.1rem;
  padding: 0 15px;
}

.comments-container h3 {
  margin: 15px 0;
}

.comments-container em {
  font-size: 0.8rem;
}

.comment-preview {
  margin: 10px 0;
}

.route-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.route-links a {
  background-color: white;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

/* posts#show */

.post-details-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-container {
  border: solid black 0.1rem;
  padding: 0 15px;
}

.post-container .post-details {
  float: left;
  width: 75%;
}

.post-container .social-interactions-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

/* posts#new */

.post-form-new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
}

.post-form-new input[type=text] {
  width: 50%;
  font-size: 1rem;
}

/* comments#new  */

.comment-form-new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
}

textarea {
  width: 50%;
  height: 150px;
}

input[type=submit]:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* alerts */

.success {
  background-color: #a6d785;
}

.generic-alert {
  margin: 0.3rem 0.6rem;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.error {
  background-color: red;
}
