/* users#index */

body {
  background-color: darkgrey;
}

.users-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 0 5vw;
}

.user-row {
  display: flex;
  padding: 1rem;
  border-bottom: solid gray 0.2rem;
}

.avatar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.avatar {
  border: solid black 0.1rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.user-row a {
  flex: 3;
  text-decoration: none;
  color: black;
}

.user-card {
  height: 100%;
  border: solid black 0.1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-card > * {
  flex: auto;
  padding: 0 5%;
}

.user-card p {
  align-self: flex-end;
}

/* users#show */

.bio-container {
  border: solid black 0.1rem;
  padding: 15px;
  margin: 2rem 0;
}

.recent-posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recent-posts a {
  text-decoration: none;
  color: black;
}

.post-card {
  display: flex;
  flex-direction: column;
  border: solid black 0.1rem;
  padding: 15px;
}

.post-card > *,
.post-card .counter {
  margin: 5px 0;
}

.counter-container {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

/* posts#index */
.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}

.posts-list a {
  text-decoration: none;
  color: black;
}

.post-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comments-container {
  display: flex;
  flex-direction: column;
  border: solid black 0.1rem;
  padding: 10px;
}

.route-links {
  margin-top: 15px;
  text-align: center;
}

.route-links a {
  margin: 0 20px 0 0;
}
